.main {
  h1 {
    &.title {
      color: brown;
      &.black {
        color: black;
      }
      &.red {
        color: red;
      }
      &.burlywood {
        color: burlywood;
      }
    }
  }
  .listMain {
    .list {
      border: 2px solid #000000;
      border-radius: 10px;
      padding: 6px;
      margin: 0 0 6px 0;
      &.bgSet {
        background-color: bisque;
      }
    }
  }
}