<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="#000000" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<base target="_top">
<title>wikiSampleNoFW</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
</head>
<body id="mains" class="index">
<!-- ヘッダー -->
<div id="header"></div>
<!-- メインコンテンツ -->
<div class="main-content">

<!-- トップ -->
<div class="main-box">
  <h2 id="titleText" class="title-text"></h2>
<div class="main-text">

<!-- gcard -->
<div class="infobox gcard proflist">
  <div class="name">
    <h3>access</h3>
  </div>
  <img class="img-responsive prof-img" src="../img/TEAR'S LIBERATION.jpg">
  <div class="description">
<table>
  <tbody>
  <tr>
    <th>別名</th>
    <td>AXS</td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td>J-POP</td>
  </tr>
  <tr>
    <th>活動期間</th>
    <td>
      1992年 - 1995年<br>
      2002年 -</td>
  </tr>
  <tr>
    <th>
      <hr>
    </th>
    <td>
      <hr>
    </td>
  </tr>
  <tr>
    <th>メンバー</th>
    <td>
      浅倉大介（キーボード）<br>
      貴水博之（ボーカル）
    </td>
  </tr>
  </tbody>
</table>
  </div><!-- description -->
</div><!-- gcard -->

<p id="descriptionText"></p>

<!-- 目次 -->
<!-- 
目次はjsで自動生成される 
-->
<div class="mokuji-list">
  <h2>目次</h2>
  <ul id="mokujiListUl">
  </ul>
</div><!-- mokuji-list -->

</div><!-- main-text -->
</div><!-- main-box -->


<!-- メインコンテンツ -->
<div id="mainContentsWrapper">
</div><!-- mainContentsWrapper -->


<!-- サンプルテンプレート -->
<div class="main-box contents" id="templateSec">
  <h2 class="title-text">テンプレート集</h2>
<div class="main-text">
<h3 class="subtitle-text">
テキストサンプル
</h3>
<h4 class="categorye-text">
サブタイトル
</h4>
<p>
メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。
</p>
<p>
メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。
</p>

<h3 class="subtitle-text">
リストサンプル
</h3>
<ul class="list-unstyled other-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
</ul>

<ul class="list-unstyled fanclub-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
</ul>

<ul class="list-unstyled solo-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
</ul>

<h3 class="subtitle-text">
テーブルサンプル
</h3>
<table class="table table-bordered">
<tbody>
  <tr class="table-title">
    <th>タイトル01</th>
    <th>タイトル02</th>
    <th>タイトル03</th>
    <th>タイトル04</th>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
</tbody>
</table>

</div><!-- main-text -->
</div><!-- main-box -->

</div><!-- main-content -->

<div id="footer">
</div><!-- footer -->


<!------ 以下動的template定義 ------>
<script type="text/html" id="tempTitleText">
<%= model.titleText %>
</script><!-- tempTitleText -->

<script type="text/html" id="tempDescriptionText">
<%= model.descriptionText %>
</script><!-- tempDescriptionText -->

<script type="text/html" id="tempMokujiList">
<li>
<span class="anker" id="mokuji_<%= model.innerId %>">
<span class="tocnumber"><%= model.index %>.</span>
<span class="toctext"><%= model.text %></span>
</span>
</li>
</script><!-- tempMokujiList -->

<script type="text/html" id="tempContentFooter">
<div class="content-footer">
  <span class="anker">▲ ページトップに戻る ▲</span>
</div>
</script><!-- tempContentFooter -->

<script type="text/html" id="tempMainContent">
<div class="main-box contents" id="<%= model.titleId %>">
  <h2 class="title-text"><%= model.titleText %></h2>
<div class="main-text">
</div><!-- main-text -->
</div><!-- main-box -->
</script><!-- tempMainContent -->

<script type="text/html" id="tempTextContent">
<p><%= model.value %></p>
</script><!-- tempTextContent -->

<script type="text/html" id="tempSubTitleContent">
<h3 class="subtitle-text"><%= model.value %></h3>
</script><!-- tempSubTitleContent -->

<script type="text/html" id="tempCategoryTitleContent">
<h4 class="categorye-text"><%= model.value %></h4>
</script><!-- tempCategoryTitleContent -->

<script type="text/html" id="tempListContent">
<ul class="list-unstyled <%= model.listClass %> <%= model.listId %>">
</ul>
</script><!-- tempListContent -->

<script type="text/html" id="tempListTag">
<li><%= model.value %></li>
</script><!-- tempListTag -->

<script type="text/html" id="tempTableContent">
<table class="table table-bordered <%= model.tableId %>">
<tbody>
</tbody>
</table>
</script><!-- tempTableContent -->

<script type="text/html" id="tempTableTagTr">
<tr class="<%= model.trClass %> <%= model.trId %>"></tr>
</script><!-- tempTableTagTr -->

<script type="text/html" id="tempTableTagTd">
<td class="<%= model.tdId %>"><%= model.value %></td>
</script><!-- tempTableTagTd -->

<script type="text/html" id="tempTableTagTh">
<th class="<%= model.tdId %>"><%= model.value %></th>
</script><!-- tempTableTagTh -->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
<script src="../js/common/convenience.js"></script>
<script src="../js/wikiSampleNoFW.js"></script>
</body>
</html>
