<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="theme-color" content="#000000" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<base target="_top">
<title>wikiSampleNoFW</title>
<link href="../css/common.css" rel="stylesheet" type="text/css" />
</head>
<body id="mains" class="index">
<!-- ヘッダー -->
<div id="header"></div>
<!-- メインコンテンツ -->
<div class="main-content">

<!-- トップ -->
<div class="main-box">
<div id="titleText">
<h2 class="title-text" v-html="titleText"></h2>
</div><!-- titleText -->
<div class="main-text">

<!-- gcard -->
<div class="infobox gcard proflist" id="proflist">
  <div class="name">
    <h3 v-html="proflist.name"></h3>
  </div>
  <img class="img-responsive prof-img" v-bind:src="proflist.profImg">
  <div class="description">
<table>
  <tbody>
<template v-for="model1 in proflist.list">
  <tr>
  <template v-for="(model2, index) in model1">
    <template v-if="index==0">
    <th v-html="model2"></th>
    </template><!-- v-if -->
    <template v-else>
    <td v-html="model2"></td>
    </template><!-- v-else -->
  </template><!-- for:list -->
  </tr>
</template><!-- for:list -->
  </tbody>
</table>
  </div><!-- description -->
</div><!-- gcard -->

<div id="descriptionText">
<p v-html="descriptionText"></p>
</div><!-- descriptionText -->

<!-- 目次 -->
<!-- 
目次はjsで自動生成される 
-->
<div class="mokuji-list">
  <h2>目次</h2>
  <ul id="mokujiListUl">
<template v-for="model in mokuji">
  <li v-scroll-to="'#'+model.innerId">
  <span class="anker" v-bind:id="'mokuji_'+model.innerId">
  <span class="tocnumber" v-html="model.index+'.'"></span>
  <span class="toctext" v-html="model.text"></span>
  </span>
  </li>
</template><!-- for:mokuji -->
  </ul>
</div><!-- mokuji-list -->

</div><!-- main-text -->
</div><!-- main-box -->


<!-- メインコンテンツ -->
<div id="mainContentsWrapper">
<!-- template:main -->
<template v-for="model in main">
<div class="main-box contents" v-bind:id="model.titleId">
  <h2 class="title-text">{{ model.titleText }}</h2>
<div class="main-text">
<!-- template:content -->
<template v-for="content in model.contents">

<!-- template:text -->
<template v-if="content.type == 'text'">
<p v-html="content.value"></p>
</template><!-- text -->

<!-- template:subTitle -->
<template v-if="content.type == 'subTitle'">
<h3 class="subtitle-text" v-html="content.value"></h3>
</template><!-- subTitle -->

<!-- template:categoryTitle -->
<template v-if="content.type == 'categoryTitle'">
<h4 class="categorye-text" v-html="content.value"></h4>
</template><!-- categoryTitle -->

<!-- template:list -->
<template v-if="content.type == 'list'">
<ul class="list-unstyled" v-bind:class="content.listClass">
  <li v-for="contentValue in content.value" v-html="contentValue"></li>
</ul>
</template><!-- list -->

<!-- template:table -->
<template v-if="content.type == 'table'">
<table class="table table-bordered">
<tbody>
<template v-for="contentValue in content.value">
  <tr v-bind:class="contentValue.trClass">
    <template v-if="contentValue.tdTemplate == 'tempTableTagTh'">
    <th v-for="listValue in contentValue.list" v-html="listValue"></th>
    </template>
    <template v-if="contentValue.tdTemplate == 'tempTableTagTd'">
    <td v-for="listValue in contentValue.list" v-html="listValue"></td>
    </template>
  </tr>
</template><!-- contentValue -->
</tbody>
</table>
</template><!-- table -->

</template><!-- content -->
</div><!-- main-text -->
<div class="content-footer">
  <span class="anker" v-scroll-to="'#mains'">▲ ページトップに戻る ▲</span>
</div>
</div><!-- main-box -->
</template><!-- main -->
</div><!-- mainContentsWrapper -->


<!-- サンプルテンプレート -->
<div class="main-box contents" id="templateSec">
  <h2 class="title-text">テンプレート集</h2>
<div class="main-text">
<h3 class="subtitle-text">
テキストサンプル
</h3>
<h4 class="categorye-text">
サブタイトル
</h4>
<p>
メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。
</p>
<p>
メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。メインコンテンツが入るよ。
</p>

<h3 class="subtitle-text">
リストサンプル
</h3>
<ul class="list-unstyled other-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク</a>
  </li>
</ul>

<ul class="list-unstyled fanclub-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク02</a>
  </li>
</ul>

<ul class="list-unstyled solo-link">
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
  <li>
      <a href="https://www.google.co.jp/" target="blank">リストサンプルリンク03</a>
  </li>
</ul>

<h3 class="subtitle-text">
テーブルサンプル
</h3>
<table class="table table-bordered">
<tbody>
  <tr class="table-title">
    <th>タイトル01</th>
    <th>タイトル02</th>
    <th>タイトル03</th>
    <th>タイトル04</th>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
  <tr>
    <td>
      コンテンツ01コンテンツ01コンテンツ01
    </td>
    <td>
      コンテンツ02コンテンツ02コンテンツ02
    </td>
    <td>
      コンテンツ03コンテンツ03コンテンツ03
    </td>
    <td>
      コンテンツ04コンテンツ04コンテンツ04
    </td>
  </tr>
</tbody>
</table>

</div><!-- main-text -->
</div><!-- main-box -->

</div><!-- main-content -->

<div id="footer">
</div><!-- footer -->


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
<script src="../js/common/convenience.js"></script>
<script src="../js/wikiSampleVueJs.js"></script>
</body>
</html>
